<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NMIConsultancy.Properties.Settings.dbi403800_nmiConnectionString"
            connectionString="Data Source=mssql.fhict.local;Initial Catalog=dbi403800_nmi;Persist Security Info=True;User ID=dbi403800_nmi;Password=nmi"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>